html {
   background-color: #F8F8F2;
 }
 body {
   width: 960px;
   margin: 0 auto;
   background-color:   #98d083;
 }
 h1{
  color: #35b0ab;
 }
 .contenedor {
   overflow: hidden;
 }
 .col {
   /*
    * Reglas para que la columna de la izquierda sea de la
    * misma altura que la de la derecha, dentro del contenedor.
    */
   /*
   margin: 0px;
   padding: 0px;
   padding-bottom: 1000px;
   margin-bottom: -1000px;
   overflow: hidden;
   */
 }
 .col-izquierda {
   float: left;
   width: 20%;
   background-color:  #98d083;

 }
 .col-izquierda ul {
   list-style-type: circle;
   padding-left: 0px;
 }
 .col-izquierda ul li {
   padding-left: 10px;
   margin-top: 10px;
   border-left: 5px solid #000;
 }
 .col-derecha {
   float: right;
   width: 80%;
   background-color: #bcfcc9;
 }
 .col-derecha h1 {
   text-align: right;
 }
 .col-derecha p {
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
 }
 .consorcio-www {
   font-size: 10px;
   background-color: #5D4C46;
   color: #fff;
 }
 .consorcio-historia {
   font-size: 10px;
   background-color: #44B3C2;
   color: #fff;
 }
 .html5-establece {
   clear: both;
 }
 .pie {
   background-color: #6F3662;
 }
 .pie p {
   text-align: right;
   color: #F8F8F2;
 }
 .scroll {
	margin: 30px;
     width:900px;
     height:400px;
     overflow:scroll;
}

h2{
  color: rgba(214, 198, 109, 0.87);

}
p{
  color:  #4a3333;
}


.Lcapital{
  font-size:  50px;
}
.imagen{
  height:500px; 
  width:800px;
}
